*{
  margin: 0;
}
.container{
  max-width: 1500px;
background-color: antiquewhite;
 
    display: grid;
    grid-template-areas: 
        "head head head"
        "main main sidebar";
}
p{
  font-size: 1.1em;
}
a.active{
  color: green;
}
