.users-page{
    width: 200px;
    height: 400px;
    padding: 15px 15px;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
   
  }
  .users-page a{
    font-size: 1.5em;
  }
  .users-page h2{
    color: rgb(75, 75, 75);
  }
  .users-page img{
    width: 100px;
    height: auto;
  }